<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fe3ee9380fc269706c1b8fbda9cbb83e {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_fe3ee9380fc269706c1b8fbda9cbb83e" ></div>
        
</body>
<script>
    
    
            var map_fe3ee9380fc269706c1b8fbda9cbb83e = L.map(
                "map_fe3ee9380fc269706c1b8fbda9cbb83e",
                {
                    center: [18.5038889, 73.807673],
                    crs: L.CRS.EPSG3857,
                    zoom: 13,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_fe4ab8eab155f879cb12cca270d125ba = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
                tile_layer_fe4ab8eab155f879cb12cca270d125ba.addTo(map_fe3ee9380fc269706c1b8fbda9cbb83e);
    
            var marker_843dc27c2743c3f91ba5e790c5d04f85 = L.marker(
                [18.5038889, 73.807673],
                {}
            ).addTo(map_fe3ee9380fc269706c1b8fbda9cbb83e);
        
    
            var marker_2563f71532d991fbd1f0ef3e21c98a12 = L.marker(
                [19.1943294, 72.9701779],
                {}
            ).addTo(map_fe3ee9380fc269706c1b8fbda9cbb83e);
        
    
            var marker_10e67f52b8552ec2b7ebba7dbe7ffb93 = L.marker(
                [18.6279288, 73.8009829],
                {}
            ).addTo(map_fe3ee9380fc269706c1b8fbda9cbb83e);
        
    
            var marker_a2d16b637d9d125acbb92dfd723a6660 = L.marker(
                [18.6279288, 73.8009829],
                {}
            ).addTo(map_fe3ee9380fc269706c1b8fbda9cbb83e);
        
    
            var marker_3c9eeb69f5d7615d7021f79a528aecc5 = L.marker(
                [18.5038889, 73.807673],
                {}
            ).addTo(map_fe3ee9380fc269706c1b8fbda9cbb83e);
        
    
            var poly_line_fcf910fb6de01599450dff33e6b860f9 = L.polyline(
                [[18.5038889, 73.807673], [19.1943294, 72.9701779], [18.6279288, 73.8009829], [18.6279288, 73.8009829], [18.5038889, 73.807673]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 3}
            ).addTo(map_fe3ee9380fc269706c1b8fbda9cbb83e);
        
</script>
</html>