<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/order.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>My Order</title>
</head>

<body>
    <section class="light">
        <div class="container py-4">
            <div class="h1 text-center text-dark" id="pageHeaderTitle">Order : {{ order.title}}</div>

            {% for customer in order.customers %}
            <div class="abc">
                <article class="postcard light blue">
                    <div class="postcard__text t-dark">
                        <h1 class="postcard__title blue">{{ customer.username}}</h1>
                        <!-- <div class="postcard__subtitle small">
                        <time datetime="2020-05-25 12:00:00">
                            <i class="fas fa-calendar-alt mr-2"></i>{{ order.timestamp}}
                        </time>
                    </div> -->
                        <div class="postcard__bar"></div>

                        <ul class="postcard__tagbox">
                            <li class="tag__item"><i class="fas fa-tag mr-2"></i>Location - {{ customer.location }}
                            </li>
                            <!-- <li class="tag__item"><i class="fas fa-clock mr-2"></i>Delivery time.</li> -->
                            <!-- <li class="tag__item play blue">
                                    <a href="#"><i class="fas fa-play mr-2"></i>Play Episode</a>
                                </li> -->
                        </ul>
                    </div>
                </article>
            </div>

            {% endfor %}

        </div>
    </section>

    <div class="container">
        <div class="content">
            <form method="post">
                <div class="button">
                    <input type="submit" value="Find Optimized Path" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>

    <br>
    <div class="container">
        <div class="content">
            <form action="?_method=DELETE" method="post">
                <div class="button">
                    <input type="submit" value="End Order" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>
    <!-- <p>{{ order }}</p> -->
    <!-- <form method="post"> -->
    <!-- May need it for improving speed -->
    <!-- <input type="hidden" name="customers" value="{{order['customers']}}">
                <input type="hidden" name="created_by" value="{{order['created_by']}}">
                <input type="hidden" name="vehicles" value="{{order['vehicles']}}"> -->
    <!-- <input type="submit" value="Find Optimized Path">
    </form>
    <form action="?_method=DELETE" method="POST">
        <input type="submit" value="End Order">
    </form> -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>